img {
    width: 1034px;
}

.descriptionBlock {
    padding: 10px;
}

.profileImg {
    width: 300px;
    height: 300px;
}

.profileDescription {
    font-weight: bold;
    color: deepskyblue;
}

.profileContacts {
    color: lightblue;
    font-style: italic;
    padding-left: 15px;
}

