.header {
    grid-area: h;
    background: aquamarine;
}

.header img {
    width: 50px;
    margin: 5px 15px;
}

.loginBlock {
    float: right;
    margin: 20px;
}

.loginBlock a {
    color: white;
    text-decoration: none;
}